{% extends 'auth_base.html' %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock %}

{% block content %}

<h1>S'enregistrer</h1>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <input type="submit" value="S'enregistrer" />
            </div>
            <div class="col-lg-offset-3 col-lg-1">
                <a class="btn btn-link" href="/auth/connexion">Se connecter</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}


