{% extends 'auth_base.html' %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock %}

{% block content %}

<h1>Se connecter</h1>


{% if user.is_authenticated %}
    Vous êtes connecté, {{ user.username }} !
            <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <a class="btn btn-link" href="/blog/home">Page d'accueil</a>
                </div>
                <div class="col-lg-offset-3 col-lg-1">
                    <a class="btn btn-link" href="/auth/deconnexion">Se déconnecter</a>
                </div>
            </div>
    </div>
{% else %}
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <input type="submit" value="Se connecter" />
                </div>
                <div class="col-lg-offset-3 col-lg-1">
                    <a class="btn btn-link" href="/auth/enregistrement">S'enregistrer</a>
                </div>
            </div>
        </div>
    </form>
{% endif %}

{% endblock %}
