{% extends 'index.html' %}
{% load blog_extras %}
{% block title %}Article {{ article.id }}{% endblock %}

{% block content %}

<h1>{{ article.titre }} <span class="small">dans {{ article.categorie.nom }}, vu {{ article.nb_vues }} fois</span></h1>
<p class="infos">Rédigé par {{ article.auteur }}, le {{ article.date|date:"DATE_FORMAT" }}</p>
{% if article.categorie.nom == "Citation" %}
    <p>{{ article.contenu|citation }}</p>
{% else %}
    <p>{{ article.contenu|linebreaks }}</p>
{% endif %}

{% endblock %}