{% extends 'index.html' %}

{% block title %}Ma page d'accueil{% endblock %}

{% block content %}


<h2>Bienvenue sur mon site d'entrainement Django</h2>

{% if articles %}
    <table class="table table-hover" id="article">
       <thead>
            <tr >
                <th class="loula">Titre</th>
                <th class="loula">Auteur</th>
                <th class="loula">Categorie</th>
                <th class="loula">Date de pubication</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}

                <tr class="odd west" onclick="goTo({{ article.id }})">
                        <td>{{ article.titre }}</td>
                        <td>{{ article.auteur }}</td>
                        <td>{{ article.categorie }}</td>
                        <td>{{ article.date }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}

        <ul class="pagination"></ul>


    {% endif %}
{% else %}
    <h3>Mes articles</h3>
    <p>Pas d'articles!!! :(</p>
{% endif %}

<!-- <script src="/static/blog/js/ajout_article.js"></script> -->
<script>
    var n_pages = {{ page_obj.paginator.num_pages }};
</script>
<script src="/static/blog/js/paginator.js"></script>
<script>
    function goTo(article_id) { document.location.href = '/blog/article/' + article_id;}
</script>


{# .... **More content, footer, etc.** .... #}
{% endblock %}